---
interface Post {
  attributes: {
    title: string;
    slug: string;
  };
}

interface Props {
  recentPosts: Post[];
}

const { recentPosts } = Astro.props;
---

<aside class="bg-gray-100 p-4 rounded-lg overflow-y-auto max-h-screen flex flex-col">
  <div class="mb-6 flex justify-center">
    <a href="/" class="inline-block">
      <img src="/public/favicon.png" alt="EVERYS" class="w-32 h-auto"/>
    </a>
  </div>
  <nav class="mb-6">
    <ul>
      <li><a href="/" class="text-blue-600 hover:underline">ホーム</a></li>
      <li><a href="/about" class="text-blue-600 hover:underline">About</a></li>
      <li><a href="/contact" class="text-blue-600 hover:underline">お問い合わせ</a></li>
    </ul>
  </nav>
  <div class="mt-4 flex-grow">
    <h3 class="font-semibold mb-2">最新の投稿</h3>
    <ul>
      {recentPosts.map((post) => (
        <li class="mb-2">
          <a href={`/post/${post.attributes.slug}`} class="text-sm text-gray-700 hover:underline">
            {post.attributes.title}
          </a>
        </li>
      ))}
    </ul>
  </div>
</aside>