---
import Layout from "./Layout.astro";
import Sidebar from "../components/Sidebar.astro";

const { title, recentPosts = [] } = Astro.props;
---

<Layout title={title}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-okaidia.min.css" />
  <div class="container mx-auto my-4 flex">
    <div class="w-3/4 pr-6">
      <slot />
    </div>
    <div class="w-1/4">
      <Sidebar recentPosts={recentPosts} />
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js"></script>
</Layout>

<style is:global>
  pre[class*="language-"] {
    border-radius: 0.5rem;
    margin: 1rem 0;
  }
  code[class*="language-"] {
    font-size: 0.9rem;
  }
</style>